//
// Wells
// --------------------------------------------------


// Colors
.well-primary {
  background-color: $brand-primary;
}
.well-success {
  background-color: $brand-success;
}
.well-warning {
  background-color: $brand-warning;
}
.well-danger {
  background-color: $brand-danger;
}
.well-info {
  background-color: $brand-info;
}
