<section class="primary-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="well well-shadow pac-banner">
          <h2>Transporte</h2>
        </div>
      </div>
    </div>

    <p class="lead text-center">
      Foram investidos aproximadamente
      <span class="text-info">2 milhões</span> de reais em
      <span class="text-primary">Rodovias</span>,
      <span class="text-success">Ferrovias</span> e
      <span class="text-warning">outros</span>
    </p>

    <div class="row">
      <div class="col-md-6">
        <div class="well well-info">
          <header class="well-title">Evolução dos investimentos</header>
          <div vega-chart data="evolucao.data" spec="evolucao.spec"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well well-warning">
          <header class="well-title">Distribuição dos investidos</header>
          <div vega-chart data="distribuicao.data" spec="distribuicao.spec"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="secondary-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="well well-lg well-shadow">
          <header class="well-title-inverse">Estágio dos investimentos</header>
          <div vega-chart data="estagios.data" spec="estagios.spec"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="primary-area">
  <div class="container">
    <p class="lead text-center">
      Dados de todas as regiões do Brasil:
      <span class="text-info">Norte</span>,
      <span class="text-primary">Nordeste</span>,
      <span class="text-success">Centro-Oeste</span>,
      <span class="text-warning">Sudeste</span> e
      <span class="text-danger">Sul</span>
    </p>
    </div>

    <div class="container">
     <div class="row">
      <div class="col-sm-4">
        <div class="well well-success">
          <header class="well-title" ng-bind="slides.current.name"></header>

          <div id="carousel" class="carousel slide" on-slide next="slides.next()" prev="slides.next()">
            <div class="carousel-inner">
              <div class="item active">
                <img class="" src="images/sudeste.png" width="190" style="margin-left: auto;margin-right: auto;margin-top: -10px;">
              </div>
              <div class="item">
                <img class="" src="images/sudeste.png" width="190" style="margin-left: auto;margin-right: auto;margin-top: -10px;">
              </div>
              <div class="item">
                <img class="" src="images/sudeste.png" width="190" style="margin-left: auto;margin-right: auto;margin-top: -10px;">
              </div>
            </div>
            <a class="left carousel-control" href="#carousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-sm-8">
        <div class="well well-success">
          <header class="well-title">Investimentos por Região</header>
          <div class="col-md-8">
            <div vega-chart data="porRegiao.data" spec="porRegiao.spec" opts="porRegiao.opts"></div>
          </div>
          <div class="col-md-4">
            <div class="well well-compressed bg-dark-success">
              <!-- <div vega-chart data="porRegiao.pie.data" spec="porRegiao.pie.spec"></div> -->
              <h3 class="text-center text-inverse">123</h3>
              <p class="text-center text-inverse">Milhões</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>