

.well-regiao-counter {
	margin-top: 30px;
}

.navbar-brand-name {
	color: $white !important;
}

.navbar-brand-subname {
	text-transform: uppercase;
	color: #8C989E;
	margin-left: 5px;
}

.colorfull-bar-bottom {
	position: absolute;
	bottom: -2px;
	min-height: 4px;
	width: 100%;
	background: transparent url(../images/colors.png) center -1px repeat-x;
	background-size: 100% 4px;
}
.colorfull-bar-top {
	position: absolute;
	top: 0px;
	min-height: 4px;
	width: 100%;
	background: transparent url(../images/colors.png) center -1px repeat-x;
	background-size: 100% 4px;
}

.bar-behind {
	background-color: red;
}

.carousel-control {
  // Set gradients for backgrounds
  &.left {
    @include gradient-horizontal($start-color: rgba(0,0,0,0), $end-color: rgba(0,0,0,0));
  }
  &.right {
    left: auto;
    right: 0;
    @include gradient-horizontal($start-color: rgba(0,0,0,0), $end-color: rgba(0,0,0,0));
  }
}

.text-inverse {
	color: $white
}

.bg-dark-success {
	background-color: #36B453;
}

.pac-banner {
	min-height: 0;
	background: #EFF2F3;

	margin-top: 0;
	@media (min-width: $screen-md-min) {
		margin-top: $line-height-computed;
	  margin-bottom: $line-height-computed;
	}
}

.lead {
	color: #8D9AA5;
  margin-bottom: 0;
  font-size: floor($font-size-base);
  line-height: 1.4;
  font-weight: normal;

  @media (min-width: $screen-sm-min) {
    font-size: ($font-size-base);
  }
}

.primary-area {
	width: 100%;
	background-color: $white;
	padding-top: 30px;
	padding-bottom: 30px;
}

.secondary-area {
	width: 100%;
	background-color: #F6F9FA;
	padding-top: 30px;
	padding-bottom: 30px;
}


@media (min-width: $screen-md-min) {
	.secondary-area,
	.primary-area {
		padding-left: 30px;
		padding-right: 30px;
	}
}

#nprogress .spinner {
  display: none;
}
#nprogress .peg {
  display: none;
}

#nprogress .bar {
  background: $link-color;

  position: fixed;
  z-index: 10000;
  top: -1px;
  left: 0;

  width: 100%;
  height: 4px;
}