.navbar {
	margin-bottom: 0;
}


// Navbar nav links
//
// Builds on top of the `.nav` components with it's own modifier class to make
// the nav the full height of the horizontal nav (above 768px).
.navbar-nav {
  > li > a {
    // font-family: $font-family-light;
  }
}



// Pac Navbar Stite
// Defines the main navigation bar
// .pac-nav-site {
// 	width: 100%;
// 	li {
// 		font-size: $font-size-small;
// 		a {
// 			padding-left: floor($navbar-padding-horizontal * 0.5);
// 			padding-right: floor($navbar-padding-horizontal * 0.5);
// 		}
// 	}
// }


//Tablet
@media (min-width: $screen-tablet) {

	.pac-nav-site {
		li {
			font-size: 13px;
			padding-left: 0;
			padding-right: 0;
		}
	}
}
//Tablet
@media (min-width: $screen-desktop) {

	.pac-nav-site {
		li {
			padding-left: $navbar-padding-horizontal;
			padding-right: $navbar-padding-horizontal;
		}
	}
}